@charset "UTF-8";

/* button */

.button{
	display: inline-block;
	border: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0;	
	
	transition: all .3s;
	line-height: 1;

	font-family: $mainFontFamily;

	cursor: pointer;

	&:disabled{
		background: #ccc;
		cursor: default;
		&:hover{
			background: #ccc;
		}
	}


	&--color{
		background: #000;
		color: #fff;
		&:hover{
			background: lighten(#000, 5%);
		}
		&:active{
			background: darken(#000, 5%);
		}
	}

	&--blue{
		background: #042c61;
		color: #fff;
		&:hover{
			background: lighten(#042c61, 5%);
		}
		&:active{
			background: darken(#042c61, 5%);
		}
	}

	&--m{
		border-radius: 8px;
		font-weight: 700;
		font-size: 12px;
		padding: 8px 20px 8px;
	}

	&--l{
		border-radius: 8px;
		font-weight: 700;
		font-size: 15px;
		padding: 10px 20px 10px;
	}

	&--block{
		width: 100%;	
		padding-left: 0;
		padding-right: 0;
	}


}

/* input */

.input{
	-webkit-appearance: none;
	padding: 0 0 0 20px;
	width: 100%;
	outline: none;
	border: 1px solid #d7d7d7;
	max-width: 100%;
	font-size: 15px;
	font-family: $mainFontFamily;
	border-radius: 5px;
	line-height: 35px;
	height: 35px;
	&.error{
		border-color: #ef6d51;
	}
}

/* checkbox */

.checkbox{
	display: inline-block;
	position: relative;

	&__input{
		margin: -2px 0 0;

	}
}
