@charset "UTF-8";

/* container */

.container{
	overflow: hidden;
	position: relative;

	&__section{
		
	}
}

/* section */

.section{
	padding: 30px 0 30px;

	&__wrap{
		@include clearfix;
		max-width: 600px;
		padding: 0 10px;
		margin: auto;
	}

	&__title{
		text-align: center;
		margin: 0 0 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: (50/36);
	}

	&__text{
		margin: 0 0 30px;		
	}
}


/* app */


.app{

	&__loader{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 500;
	}

	&__error{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 550;
	}

	&__title{
		font-size: 33px;
		text-align: center;
		margin: 0 0 10px;
	}

	&__page{

	}

	&__block{
		margin: 0 0 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.app-block{
	background: #fff;
	padding: 20px;
	border-radius: 3px;
}

/* weather-info */

.weather-info{

	&__title{
		margin: 0 0 .5em;
		font-size: 30px;
	}

	&__list{
		
	}

	&__item{
		margin: 0 0 .5em;
		min-height: 30px;
		line-height: 30px;
	}

	&__icon{
		vertical-align: middle;
		width: 30px;
		height: 30px;
	}
}

/* add-city */

.add-city{

	&__title{
		font-size: 18px;
		margin: 0 0 10px;
	}

	&__form{
		@include clearfix;
	}

	&__input-placeholder{
		float: left;
		width: 70%;
	}

	&__button-placeholder{
		float: right;
		width: 25%;
	}

	&__input{
		height: 35px;
		line-height: 35px;
	}

	&__button{
		height: 35px;
		width: 100%;
	}


}

/* cities-list */

.cities-list{

	&__list{

	}

	&__item{
		margin: 0 0 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__delete{
		float: right;
		margin: 7px 0 0 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* error-message */

.error-message{
	padding: 10px;
	background: #ff7f7f;
}
 

/* loader */


.loader{
	background: rgba(255,255,255,.5);	
	text-align: center;
	opacity: 0;
	visibility: hidden;
	
	transition: all .2s;

	display: flex;

	align-items: center;
	justify-content: center;
	
	&__content{
		width: 40px;
		height: 40px;
		display: inline-block;
		animation: spin .6s infinite linear;
	}

	&--visible{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
